
<h3>About Me</h3>

<p>
Hi! I'm Adriana. I turn 🌮 and ☕ into code. I program in mostly ruby, python, and javascript. If you have a project in mind or if you want to learn to code, I'm more than happy to help!
</p>

