<h3>About Me</h3>

<div>
  <img src="./adriana.jpeg">
</div>

<p>
  With a background in scientific research, I have a great appreciation for breaking complex things down to data that's easier to understand, and how to extrude useful information from that data.
  My innate curiosity is what attracted me to programming.
  I wanted to learn how to use this magical thing called the Internet in order to build websites to help others.
  I'm seeking a full time position as a backend or full stack developer in a company that supports their employees to learn more and give back to the community.
</p>

