<h3>Contact Me</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/adrianacastaneda/" title="linkedin" target="_blank"><img src="./my-icons-collection/svg/social-media.svg" alt=""></a></li>
        <li><a href="https://github.com/alcastaneda" title="github" target="_blank"><img src="./my-icons-collection/svg/social-media-2.svg" alt=""></a></li>
        <li><a href="tel://773-892-8145" title="" target="_blank"><img src="./my-icons-collection/svg/social-media-3.svg" alt=""></a></li>
        <li><a href="https://twitter.com/geekincognito23" title="" target="_blank"><img src="./my-icons-collection/svg/social-media-1.svg" alt=""></a></li>
      </ul>
