<!DOCTYPE html>
<html>
<head>
  <title>Adriana</title>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Maven+Pro:400,900' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
</head>

    <nav>
      <ul>
        <li><a href="#resume" title="">Resume</a></li>
        <li><a href="#about_me" title="">About Me</a></li>
        <li><a href="#contact_me" title="">Contact Me</a></li>
      </ul>
    </nav>

  <header>
      <h1>Hello World</h1>
  </header>

<body>
<a name="about_me"></a>
  <section class="about-me">
        <%=yield%>
  </section>

<a name="resume"></a>
  <section class="resume">
    <h3>Download Resume</h3>
        <a href="./2016resume.pdf" title="" download="adriana_resume.pdf"><img src="./my-icons-collection/svg/paper.svg" alt=""></a>
  </section>

<a name="contact_me"></a>
  <section class="contact-me">
    <%= erb :contact_me %>
  </section>
</body>

<footer>
  <p>Icons by <a href="http://www.flaticon.com/packs/social-hand-drawn" title="">Agata</a></p>
</footer>

</html>
