<!DOCTYPE html>
<html>
<head>
  <title>Adriana</title>
 <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
</head>

    <nav>
      <ul>
        <li><a href="#" title="">Resume</a></li>
        <li><a href="#about_me" title="">About Me</a></li>
        <li><a href="#contact_me" title="">Contact Me</a></li>
      </ul>
    </nav>

  <header>
      <h1>Hello World</h1>
  </header>

<body>

  <section class="about-me">
      <a name="about_me"></a>
        <%=yield%>
  </section>

  <section>
    <a name="contact_me"></a>
    <%= erb :contact_me %>
  </section>
</body>

</html>
