<!DOCTYPE html>
<html>
<head>
  <title>Adriana</title>
 <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
</head>

    <nav>
      <ul>
        <li><a href="" title="">Resume</a></li>
        <li><a href="" title="">About Me</a></li>
        <li><a href="" title="">Contact Me</a></li>
      </ul>
    </nav>

  <header>
      <h1>Hello World</h1>
  </header>

<body>

  <section class="middle">
        <%=yield %>
  </section>

</body>

</html>
