<!DOCTYPE html>
<html>
<head>
  <title>Adriana</title>
  <meta name="google-site-verification" content="SI00vYjqmnTJLSVQx7sN0jWsPSnGntjODFPMG_-gMWg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Maven+Pro:400,900' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
 <link rel="stylesheet" type="text/css" href="./stylesheets/medium.css">
 <link rel="stylesheet" type="text/css" href="./stylesheets/mobile.css">
</head>
<body>
  <header><h1>Adriana Castaneda</h1></header> 
<div class="wrapper">
  <section class="profile-pic">
    <img src="./profile.jpg">
  </section>

  <section class="blurb">
      <nav>
        <ul>
          <li id="about-me">About Me</li>
          <li id="contact-me">Contact Me</li>
          <li id="resume">Resume</li>
        </ul>
      </nav>
    <article class="about-me">
      <%= erb :about_me%>
    </article>
    <article class="contact-me">
      <%= erb :contact_me %>
    </article>
    <article class="resume">
      <%= erb :resume %>
    </article>
  </section>

  </body>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./scripts/main.js"></script>

</html>
