/*email icon*/
/*<a href="" title="" target="_blank"><img src="./my-icons-collection/svg/letter.svg" alt=""></a></li>*/

*{
  box-sizing: border-box;
}

html{
  font-size: 40px;
}

body{
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
}

/*NAV BAR STYLING*/
ul{
 list-style: none;
 margin: 0em;
 padding: 0px;
}

/*nav{
  position: fixed;
  width: 100%;
}*/
nav{
    top: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #3e3e3e;
    opacity: 0.8;
    padding: .5rem;
    font-size: .8rem;
}

nav li{
  width: 30%;
  display: inline-block;
}

a{
  text-decoration: none;
}

nav a{
  color: white;
}

/*SECTION STYLING*/
section{
  padding: 2rem 1rem 5rem 1rem;
}

h1{
  font-size: 2.5rem;
  padding:  4rem;
  color: #4f2674;
}

h3{
  padding-bottom: 1rem;
  font-family: 'Permanent Marker', cursive;
}
/*ABOUT ME STYLING*/
.about-me{
 background-color: #85BDBF;
 width: 100%;
}

.about-me div{
  margin: auto;
  width: 40%;
}

.about-me div img{
  width: 100%;
  border-radius: 100%;
}

.about-me p{
  font-size: .8em;
}

body{
  text-align: center;
}

/*RESUME STYLING*/
.resume img{
  width: 20%;
}

/*CONTACT ME STYLING*/
.contact-me{
  background-color: #C2FCF7;
}

/*.contact-me img{
  width: 20%;
}*/

.contact-me li{
  width: 8%;
  display: inline-block;
}

/*FOOTER STYLING*/

footer{
  background-color: #040F0F;
  color: #C9FBFF;
  font-size: .5rem;
}
footer a{
  color: #85BDBF;
}

/*LINK HOVER STYLING*/
a:hover{
  color: #e55ea2;
}

a img:hover{
  transform: rotate(10deg);
}


@media (max-width: 570px){
  nav ul li{
    font-size: .5rem;
  }

  h1{
    font-size: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .about-me div{
    width: 100%;
  }

  .about-me p{
    font-size: .5rem;
  }

  .resume img{
    width: 50%;
  }

  .contact-me li{
    width: 45%;
    padding: .5rem;
  }
}
