/*email icon*/
/*<a href="" title="" target="_blank"><img src="./my-icons-collection/svg/letter.svg" alt=""></a></li>*/

*{
  box-sizing: border-box;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html{
  font-size:35px;
}

body{
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  color: #2e2e2e;
}


.logo{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  /*background: url("https://media.giphy.com/media/Cv7wrQjYcd6hO/giphy.gif");*/
  background-image: url("https://media.giphy.com/media/9svhot8rVfudG/giphy.gif");
  background-size: cover;
  opacity: 0.96;
}
.logo img{
  margin-top:3rem;
  width: 40%;
}

.wrapper{
  width: 80%;
  margin: 0px auto;
}

h1{
  font-size: 2rem;
  color: #4f2674;
}

.profile-pic{
  display: inline-block;
  float: left;
  width: 30%;
}
.profile-pic img{
  height: 500px;
}

.blurb{
  float: left;
  width: 60%;
  height: 500px;
}
/*NAV BAR STYLING*/
ul{
 list-style: none;
 margin: 0em;
 padding: 0px;
}

nav{
  padding-right: .5rem;
  padding-left: .5rem;
}
nav li{
  border:#e55ea2 3px solid;
  padding: .25rem;
  display: inline-block;
  color: #e55ea2;
}

nav li:hover{
  background-color: #ffe9ec;
  color: #4f2674;
}

a{
  text-decoration: none;
}

/*SECTION STYLING*/
section{
  /*padding: 2rem 1rem 5rem 1rem;*/
}

h3{
  /*padding-bottom: 1rem;*/
  font-family: 'Permanent Marker', cursive;
}
/*ABOUT ME STYLING*/

.about-me p{
  margin: 0px auto;
  font-size: .8em;
  width: 80%;
}



/*RESUME STYLING*/
.resume img{
  width: 20%;
}

/*CONTACT ME STYLING*/

.contact-me li{
  width: 8%;
  display: inline-block;
}

/*FOOTER STYLING*/


/*LINK HOVER STYLING*/
a:hover{
  color: #e55ea2;
}

a img:hover{
  transform: rotate(10deg);
}

@media(max-width: 1220px){
  html{
    font-size: 28px;
  }

  .blurb{
    float: right;
  }

}

@media(max-width: 988px){
  html{
    font-size: 20px;
  }
  .wrapper{
    width: 90%;
  }
  h1{
    font-size: 3rem;
  }

  .blurb{
    margin-top: 3rem;
  }

}

@media (max-width: 688px){
  .profile-pic, .blurb{
      float: none;
      width: 100%;
    }
}
